ROBOT_GRPC_LISTEN=0.0.0.0:50051
ROBOT_SERVER_KEY=/var/lib/tangying-robot-agent-os/certs/server.key
ROBOT_SERVER_CERT=/var/lib/tangying-robot-agent-os/certs/server.crt
ROBOT_CLIENT_CA=/var/lib/tangying-robot-agent-os/certs/client-ca.crt
XLEROBOT_PORT1=/dev/tangying-left
XLEROBOT_PORT2=/dev/tangying-right
XLEROBOT_CALIBRATION=/var/lib/tangying-robot-agent-os/calibration

